[submodule "service1"]
	path = service1
	url = https://github.com/ilian-tzankov-B-eye/microservices-service1.git
[submodule "service2"]
	path = service2
	url = https://github.com/ilian-tzankov-B-eye/microservices-service2.git
